[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200

[[redirects]]
    from = "/#/*"
    to = "/:splat"
    status = 301
    force = true

  [build]
    command = "vite build"
    publish = "build"
